* {
  box-sizing: border-box;
  border: none;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  transition: width .4s ease-in;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

nav {
  height: 0px;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  position: fixed;
  margin-bottom: auto;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.animate {
  color: #000;
  background-color: #FFF;
  height: 5rem;
  text-shadow: none;
}

nav ul {
  display: flex;
  margin-right: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  list-style: none;
  margin-top: 1rem;
}

nav a {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 700;
  color: #000;
}

nav a:hover {
  border-bottom: 1px solid #000;
  color: #FFF;
}

nav a.animate {
  background-color: transparent;
}

nav a.animate:hover {
  color: grey;
}

.hamburger {
  display: none;
}

.hero-container h1 {
  text-shadow: 1px 1px #000;
  padding-top: 18%;
  text-align: center;
  font-size: 3.4rem;
  color: #FFF;
  margin: 0;
}

.hero-container h2 {
  text-shadow: 1px 1px #000;
  text-align: center;
  font-size: 3rem;
  color: #FFF;
}

.hero-container {
  background-image: url(../images/city.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 80vh;
  filter: grayscale(25%);
}

#about {
  font-size: 18px;
  width: 100%;
  text-align: center;
  padding: 3rem;
  height: auto;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.icon-block {
  width: 33.333%;
  margin: 2rem;
}

.icon-block h2 {
  font-size: 3em;
}

.icon-block h5 {
  font-size: 20px;
}

.icon-block p {
  font-weight: 300;
  line-height: 1.4;
}

.portfolio-background {
  background-image: url(../images/code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 60vh;
}

.portfolio-background h1 {
  padding-top: 10%;
  text-align: center;
  font-size: 4rem;
  color: #FFF;
}

.portfolio-content {
  text-align: center;
  padding: 20px;
  height: auto;
}

#lightbox {
  position:fixed; /* keeps the lightbox window in the current viewport */
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.7);
  text-align: center;
}

#lightbox p {
  text-align: right;
  color: #fff;
  margin-right: 20px;
  font-size: 12px;
}

#lightbox img {
  box-shadow: 0 0 25px #111;
  -webkit-box-shadow: 0 0 25px #111;
  -moz-box-shadow: 0 0 25px #111;
  max-width: 940px;
}

/* Contact CSS */
.contact-background {
  background-image: url(../images/skateboarding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 60vh;
}

.contact-background h1 {
  padding-top: 10%;
  text-align: center;
  font-size: 4rem;
  color: #FFF;
}

.contact-content {
  min-height: 40vh;
}

.contact-content h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  clear: both;
  padding: 2rem 0;
}

.contact-content input {
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  border: 1px solid #000;
  border-radius: 5px;
  clear: both;
}

.contact-content textarea {
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  border: 1px solid #000;
  border-radius: 5px;
  clear: both;
}

.error {
	display: none;
	margin-left: 10px;
}

.error-show {
	color: red;
	margin-left: 10px;
}

input.invalid, textarea.invalid {
	border: 2px solid red;
}

input.valid, textarea.valid {
	border: 2px solid green;
}

footer {
  text-align: center;
  background-color: #202020;
  margin: 0;
  padding: 10px;
}

footer p {
  color: #FFFFFF;
  margin: 0;
  padding: 2rem;
}

footer a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #FFFFFF;
}

footer a:hover {
  color: grey;
}


@media only screen and (max-width: 760px) {

  .hamburger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #FFF;
  }

  .hamburger.animate {
    color: #000;
  }

  .hamburger:hover {
    border-bottom: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10%;
  }

  nav a {
    color: #FFF;
    display: none;
    font-size: 14px;
  }

  .drop-down {
    height: 0;
  }

  .drop-down.active {
    height: auto;
    display: flex;
    padding: 2rem;
    font-size: 1rem;
    background-color: #FFF;
  }

  .drop-down.active li {
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 10px;
  }

  .drop-down.active li:last-child {
    border-bottom: none;
  }

  .drop-down.active li a:hover {
    color: grey;
    border-bottom: none;
  }

  .hero-container h1 {
    padding-top: 5em;
  }

  .icon-block {
    width: 85%;
  }

  .flex-wrap {
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .portfolio-background h1 {
    padding-top: 35%;
  }

  .contact-background h1 {
    padding-top: 35%;
  }

  .contact-content input {
    width: 80%;
  }

  .contact-content textarea {
    width: 80%;
  }
}
